<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset='utf-8'>
    <title>invoicer</title>
    <style>
      body {
        background-color: #F0F4F7;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>