@import '../../styles/utils.less';

.Grid {
  position: relative;
  margin: 0 -10px;
  .c;
}

.Grid--twoColumn {
  .GridColumn {
    width: 50%;
  }
}

.GridColumn {
  float: left;
  padding: 0 10px;
  .border-box;
}