@import '../../styles/utils.less';

.TableCell {
	padding: 12px 20px;
	color: @navy;

	&--header {
		padding: 10px 20px;
		font-weight: 700;
	}

	&--primary {
		font-weight: 700;
		color: @black;
	}

	&--actions {
		width: 50px;
		white-space: nowrap;
	}
}
