// Web
//
html,
body {
	.square(100%);
}

body {
	background-color: @bgr;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	#font > #family > .roboto();
	color: @textColor;
	font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

#root {
  .square(100%);
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.i-wrap {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  .border-box;
  .c;

}

.i-pageTop {
  position: relative;
  margin: 20px 0;
  .c;

  > h2 {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.i-pageTop-right {
  float: right;

  > .i-button {
    float: left;
    margin-left: 15px;
  }
}

.i-content {
  position: relative;
  .c;
}
