// Web
//
html,
body {
  .square(100%);
}

body {
  background-color: @bgr;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  #font > #family > .roboto();
  color: @textColor;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

#root {
  .square(100%);
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;

  > div {
    height: 100%;
  }
}

@page {
  size: auto;
  margin: 0mm;
}