@import '../../styles/utils.less';

.Form {
  position: relative;
  padding: 20px 0; 
  .c;
}

.Form-col {
  width: 50%;
  position: relative;
  float: left;
  padding: 30px 100px;
  .border-box;

  &:before {
    content: '1';
    position: absolute;
    top: 30px;
    left: 30px;
    color: @light;
    font-size: 96px;
    line-height: 96px;
    .user-select;
  }

  &:nth-child(2) {
    &:before {
      content: '2';
    }
  }
}

.Form-line {
  position: relative;
  padding-top: 15px;
  margin: 0 -10px;
  .c;

  &:first-child {
    padding-top: 0;
  }
}

.Form-cell {
  width: 100%;
  float: left;
  padding: 0 5px;
  .border-box;
}

.Form-cell--70 {  width: 70%; }
.Form-cell--50 {  width: 50%; }
.Form-cell--34 {  width: 34%; }
.Form-cell--33 {  width: 33%; }
.Form-cell--30 {  width: 30%; }

.Form-footer {
  width: 100%;
  float: left;
  padding: 20px 95px 0;
  .border-box;
}

.Form-content {
  position: relative;
  padding: 0 20px;
  .c;

  > p {
    margin-bottom: 20px;
  }
}

@media (max-width: 980px) {
  .Form-col {
    width: 100%;
    margin-top: 50px;

    &:first-child {
      margin-top: 0;
    }
  }
}

@media (max-width: 580px) {
  .Form-col {
    padding: 0 25px;
    
    &:before {
      display: none;
    }
  }

  .Form-footer {
    padding: 20px 20px 0;
  }
}